#### Explore and cluster the neighborhoods in Toronto

In [1]:
import pandas as pd

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfwiki = pd. read_html(url, header = 0)

In [7]:
dftor = dfwiki[0]

In [8]:
dftor.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [9]:
dftor2 = dftor[dftor.Borough != "Not assigned"]

###### We created a new data frame by eliminating all rows with Borough "not assigned"

In [10]:
dftor2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [11]:
dftor3 = dftor2.groupby(['Postcode','Borough'], as_index = False).agg(lambda col: ', '.join(col))

In [12]:
dftor3.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

##### We now have a data frame with Neighbourhood combined into one row for the same borough.

In [13]:
dftor3.shape

(103, 3)

##### The data has 103 rows and 3 columns